
.align-intens-center{
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.arquivo{
    max-width: 400px;
}

.adc-imagem{    
    position: absolute; 
    border: solid 1px #d0d0d0;
    width: 130px;
    height: 173px;
    text-align: center;
    overflow: hidden;
}

.span-top{    
    position: relative; 
}

.lbl-img{
    font-size: 5em;
    color: #9e9e9e;
    cursor: cell;
    width: 100%;
    height: 173px !important;
    padding: .3em 0em;
}

.alert-lbl{
    font-size: 10;    
    cursor: cell;
    width: 100%;
    height: 173px !important;
    padding: .3em 0em;
    border:solid 1px #ff3d3d;
}

.btn-alterar-2{
    position: absolute;
    outline: none;
    border: none;
    bottom: 0;
    left: 0;
    width: 130px;
    padding: .2em 0em;
    text-align: center;
    background: rgba(0, 0, 0, .4);
    color: #FFF;
    cursor: pointer;
    transition: all .1s ease-in;
}

.btn-alterar-2:hover{
    background: rgba(0, 0, 0, .8);
}

.btn-alterar-2:focus{
    outline: none;
}

@media(max-width:540px){
    .adc-imagem{    
        position: relative; 
    }

    .span-top{    
        position: absolute; 
        top: -22px;
    }
    
}

@media(max-width:767px){
    .adc-imagem{    
        position: relative; 
    }

    .span-top{    
        position: absolute; 
        top: -22px;
    }
    
}