.affter-none::after, .affter-none::before{
    display: none !important;
}
.pointer{
    cursor: pointer;
}
.pointer-none{
    cursor: not-allowed;
    pointer-events: none;
}

.lock{
    cursor: no-drop;
}

.dropdown-menu-user{    
    background-color: rgb(22, 150, 189);
    margin-top: .5em;
    right: 2em;
    left: auto;
}

.dropdown-menu-user a{    
    font-size: 1em;
}

.dropdown-menu-user::after {
    content: "";
    width: 0; 
	height: 0;
	position: absolute;
    left: 47%;
    top: -.5em;
	border-bottom: .5em solid rgb(22, 150, 189);
    border-right: .5em solid transparent;
    border-left: .5em solid transparent;
}

.dropdown-menu-user a:hover{
    background-color: rgb(0, 129, 168) !important;
    color: #FFF !important;
}

.dropdown-item{
    float: none !important;
}
.shadow-md{
    box-shadow: 0 4px 15px 5px #CCC !important;
}

.main-area{
    margin: 0 2em 0 2em;
    padding: 1em 3em;
    background-color: #fff;
}

.background-notify{    
    background: rgb(255, 255, 255);  
}

.lista-empresa{
    max-height: 17.57em;
    overflow: auto;
    padding: .2em .2em 0 .2em !important;
    margin-bottom: 1em;
}
.lista-empresa input{
    position: relative !important;
    cursor: pointer;
}
.lista-empresa label{
    cursor: pointer;
}

.item_empresa {
    margin-bottom: .2em !important;
}

/*------------------------------ caixa -------------------------------------*/
.iframe-table{
    padding: 0;
    background-color: rgb(255, 255, 255);
    border: solid 1px #cfcfcf !important;
}
/* ------------------------------------------------------------------------ */


.outline-none:focus{
    outline: none;
    box-shadow: none;
}
/* ------------------------------------------------------------------------ */
::-webkit-scrollbar {
    width: 6px;
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    background-color: #d0d0d0;
	border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: #9e9e9e; 
}

.title{
    background-color: rgb(0, 129, 168);
    color: #fff; 
}

.border-blue-b{
    border-bottom: solid 2px rgb(0, 129, 168);
}

.text-1{
    font-size: .8em !important;
}

.text-2{
    font-size: 1em;
}

.text-3{
    font-size: 1.2em;
}

.text-4{
    font-size: 1.4em;
}

.w-0{
    margin-left: -16.66%;
}

.align-intens-center{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.hover-white:hover{
    color: white !important;
}

.hover-white:hover i{
    color: white !important;
}

.radius-left-0{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.radius-right-0{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#modal_documento{
    z-index: 9999 !important;
}

#ui-datepicker-div{
    z-index: 19999 !important;
}

/* --------- pagina de cadastro oficios -------------*/
.nicEdit-main{
    font-family: 'Times New Roman', Times, serif !important;
    padding: 2em 3cm 1em 3cm;
    overflow-y: scroll;
}

.nicEdit-main hr{
    width: 100%;
    margin-top: 0 !important;
    border-color: #000;
}

.nicEdit-main p{
    margin: 0;
    line-height: 1.1em;
}

/* ------- animação ajaxa ------*/
.loading{
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    height: 100%;
    width: 100%;
    background-color: #FFF;
    opacity: 1;
    transition: all .3s ease-in;
    z-index: 99999;
}

.load{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    z-index: 9999;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    display: none;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 100px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    margin: 6px;
    border: 6px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: rgb(72, 165, 194) transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* ------- animação form ------*/
.loading-input{
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), #71fd6c, rgba(255, 255, 255, 0));
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: right;
    transition: all 1s ease;
    animation: loading 1.3s linear infinite;
}

@keyframes loading {
  0% {
      background-position: left;
  }
  100% {
      background-position: right;
  }
}

.my-btn{
    text-decoration: none;
    background: none;
    border: solid 1px #6c757d;
    outline: none; 
    color: #6c757d;
    padding: .375rem .75rem;
    line-height: 1.6;
    border-radius: .25rem;    
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}

.my-btn:hover{
    text-decoration: none;
    outline-color: #343a4060;
    color: #343a40;
}
.my-btn:focus{
    text-decoration: none;
    outline-color: #343a40 !important; 
    color: #343a40;
}




/*-------------------- botão de ajuda -----------------------*/
.tooltiptext {
    position: absolute;
    width: 120px;
    margin-left: .8em;
    margin-top: -1.4em;
    padding: .3em .3em !important;
    background: rgb(156, 156, 156);
    font-family: SourceSansPro;
    text-align: center;
    color: #FFF;
    border-radius: 5px;
    z-index: 99;
    visibility: hidden;
    opacity: 0;
    transition: opacity 500ms ease;
    font-weight: normal;
}

.tooltiptext::after{
    content: "";
    width: 0; 
	height: 0;
	position: absolute;
    left: -.5em;
    top: 1.4em;
	border-top: .5em solid transparent;
	border-bottom: .5em solid transparent;
	border-right: .5em solid rgb(156, 156, 156);
}

.my-tooltip:hover .tooltiptext{
    visibility: visible;
    opacity: 1;
}

.toolip-delete{
    position: absolute;
    padding: .5em;
    margin-top: 2.5em;
    background: rgb(248, 248, 248);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, .5);
    z-index: 2;
    display: none;
}


.toolip-delete::before{
    content: "";
    width: 0; 
	height: 0;
	position: absolute;
    margin-left: -.6em;
    top: -.6em;    
	border-bottom: .6em solid rgb(248, 248, 248);
	border-right: .6em solid transparent;
    border-left: .6em solid transparent;
}
.toolip-delete-center::before{
    margin-left: 2em !important;
}
/*------------------ tabelas ---------------------------*/
.table-head-fixed{
    table-layout: fixed;
    width: 100% !important;
	margin: auto;
}

.table-head-fixed thead{    
	display: block;
    width:100% !important;
    height: 2em;
    background-color: #cfcfcf;
    font-weight: bold;
}

.table-head-fixed tbody{  
    max-height: 460px;
    overflow: auto;
    display: block;    
    width:100% !important;
    border-bottom: solid 1px #cfcfcf;
}

.table-head-fixed  tr{
    display: flex;
    width:100% !important;
    border-bottom: solid 1px #cfcfcf;
}

.table-head-fixed td{
    text-align: center;
    width: 25% !important;
    padding: .2em .5em;
}

.my-table{
    width: 100%;
    max-width: 100%;
}
.my-table thead tr:nth-child(1){
    border-bottom: solid 1px #999;
    background-color: rgb(196, 196, 196);
}
.my-table thead tr:nth-child(2){
    border-bottom: solid 1px #999;
    background-color: rgb(241, 241, 241);
}
.border-gray{
    border-color: #ccc !important;
}
.my-table th, .my-table td{
    padding: .2em !important;
}
.my-table tfoot tr{    
    border-top: solid 1px #999;
    background-color: rgb(196, 196, 196);
}

.input_search {
    background-image: url('../img/searchicon.png');
    background-position: 10px 10px;
    background-size: 1em;
    background-repeat: no-repeat;
    width: 100%;
    padding: 5px 20px 5px 40px;
    margin-bottom: 1em;
}


/*---------------------- butão do select com busca -----------------*/  
.btn-select{
    background-color: #FFF;
    border: 1px solid #ced4da;
    color: #495057;
}

/*---------------------- pagina de documentos cooperado-----------------*/  
.documento-row{
    width: 100%;
    display: flex;    
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 38vh;
    overflow: auto;
}

.documento-colum{
    width: 12em;
}

.documento-colum div:nth-child(1){
    width: 100%;
}
/*--------------------------- responsivo ---------------------------------- */
@media(max-width: 768px){
    .login{
        width: 90%;
    }
    
    .align-intens-center-sm{
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media(max-width: 576px){      
    .user-name{
        display: none;
    }  
    .dropdown-menu-user{
        right: .3em;
    } 
    .dropdown-menu-user::after {
        left: auto;
        right: 1.5em;
    } 
    /* .head{
        position: absolute;
    } */
    .shadow-menu{
        box-shadow: 10px 0 10px rgba(99, 99, 99, 0.5);
    }

    .shadow-md{
        box-shadow: none !important;
    }

    .main-area{
        margin: 0;
        padding: 0;
    }

    .modal_edit form{    
        margin-top: 7em;
    }

    .modal_edit form{
        width: 100%;
    }
}

@media(max-width: 408px){
    /*---------------------- pagina de documentos cooperado-----------------*/ 
    .documento-colum{
        width: 16em;
    }
}
/*===== height responsiva =====*/
@media(max-height: 650px){
    .modal_edit form{
        margin-top: 20%;
    }
}
@media(max-height: 610px){
    .modal_edit form{
        margin-top: 40%;
    }
}

@media(max-height: 460px){
    .modal_edit form{
        margin-top: 60%;
    }
}