
.nav{
    transition: all 500ms ease;  
    max-height: 80vh;
    width: 100%;
    overflow: auto;
}
.nav::-webkit-scrollbar {
    width: 6px;
    background-color: rgb(37, 37, 37);
}
.nav::-webkit-scrollbar-thumb {
    background-color: rgba(165, 165, 165, 0.589);
	border-radius: 3px;
}

.nav-ul{
    width: 100%;
}

.logo{
    padding-top: .3em;
    height: 6vh;
    text-align: center;
}

.logo a{
    text-decoration: none;
    color: #FFF !important;
    cursor: pointer;
    font-family: XoloniumRegular;
}

.center-logo{
    font-family: XoloniumRegular;
    font-size: 2.5em;
    color: #FFF;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}

.link{
    display: block;
    text-decoration: none;
    color: #b8c7ce;
    cursor: pointer;
    font-size: .9em;
    padding-top: .5em;
    padding-bottom: .5em;
    transition: all 1ms ease;
}

.link i{
    font-size: 1.1em;
    margin-right: .5em;
}

.link:hover{
    background-color:  rgb(46, 46, 46);
    text-decoration: none;
    color: #fff;
}

.border-empresa{
    border-bottom: solid 2px white;
    font-size: 1.2em;
}
.link-empresa:hover{
    
    background-color: transparent !important;
}
.linkfocus{
    text-decoration: none;
    background-color:  rgb(46, 46, 46);
    color: #fff;
}


.link:hover .arrow {    
    color: #fff;
}

.link:focus .arrow{   
    color: #fff;
}

.arrow{
    font-size: .5em;
    float: right;
    padding-top: 1em;    
    color: #b8c7ce;
}

.arrow i{
    transition: all 500ms ease;
}

.drop-menu{
    list-style: none;
    display: none;
    background-color: rgb(46, 46, 46);
    padding-left: 1.5em;
}

.drop-menu a{
    text-decoration: none;
    display: block;
    width: 100%;
    color: #b8c7ce;
    cursor: pointer;
    font-size: .9em;    
    padding: .5em 0em .5em .5em;
    border-top-left-radius: 1.5em;
    border-bottom-left-radius: 1.5em;
    transition: all .3s linear;
}

.drop-menu a:hover{
    text-decoration: none;
    color: #fff;
}

.drop-menu a:hover i{
    color: white;
}

.sublinkfocus{
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    color: rgb(0, 0, 0) !important;
}

.sublinkfocus i{
    color: #26265D;
}


.sub-nav {
    display: flex;
}

.sub-nav div{
    width: 33.33%;
    padding: .2em;
}

.btn-header{
    padding: .45em;
    text-decoration: none;    
    text-align: center;
    color: #FFF;
    font-size: 1.2em;
    float: right;
    margin-right: 1em;
    background: none;
    border: none;
    cursor: pointer;
}
.btn-menu{
    padding: .45em 1em;
    text-align: center;
    color: #FFF;
    font-size: 1.2em;
    outline: none;
    background: none;
    border: none;
    cursor: pointer;
}
.btn-menu:hover, .btn-menu:focus, .btn-header:hover, .head span:hover,
.btn-header:focus, .head span:focus{
    background-color: #26265D;
    outline: none;
}

.btn-menu i:nth-child(1){
    display: none;
}