*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    font-family: Arial;
    height: 100%;
}

hr{
    border-width: 2px;
    border-color: #999;
}

.pageA4{
    margin: 0 auto;
    width: 8.27in;
    min-height: 11.69in; 
    box-shadow: 0 0 15px #555;
    background-color: #fff;
    page: pageA4;
    margin: 0 auto;
    padding: 2em;
}

@page pageA4 {
    size: 8.27in 11.69in; 
    mso-header-margin: .5in; 
    mso-footer-margin: .5in; 
    mso-paper-source: 0;
}

@media print{
    *{
        -webkit-print-color-adjust: exact !important; 
    }
    button{
        display: none !important;
    }
    .pageA4{
        padding: 0 !important;
        font-size: 16pt;
        width: 100%;
    }
}