@media print{
    *{
        -webkit-print-color-adjust: exact ; 
    }

    body{
        padding: 0;
        font-size: 12pt;
    }

    .my-container{
        width: 100% !important;
        padding: 0;
    }

    .container{
        width: 100% !important;
        padding: 0;
    }
    .rellot{
        padding: 3em !important;
    }

    .quebrapagina {
        page-break-before: always;
    }
    
    .noPrint{
        display: none !important;
    }

    .row-print{
        width: 100% !important;
        padding: .5em 2em !important;
    }
}