*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
}

@page{
    size: A4;
    margin: 5%;
    padding: 0 0 0%;
}

p{
    line-height: .3em;
}

table{
    width: 100%;
    margin-top: 2em;
    margin-bottom: 5em;
    page-break-inside:always;
}            
tr    { page-break-inside:avoid; page-break-after: always; }
thead { display:table-header-group; }
tfoot { display:table-footer-group; }

.bg-cinza{
    background: #ccc;
}

.bg-claro{
    background: rgb(238, 236, 236);
}

.b-xy{
    border: 1px solid #000 !important;
}

.b-b{
    border-bottom: 1px solid #000 !important;
}

.b-b-n{
    border-bottom: none !important;
}

.b-t{
    border-top: 1px solid #000 !important;
}

.b-l{
    border-left: 1px solid #000 !important;
}


.b-r{
    border-right: 1px solid #000 !important;
}

.b-t-n{
    border-top: none !important;
}

.b-x{
    border-left:  1px solid #ccc !important;
    border-right:  1px solid #ccc !important;
}

.negrito{
    font-weight: bold;
}

td:nth-last-child(1){
    text-align: right;
}

td:first-child{
    text-align: left;
}
.my-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.row{
    box-shadow: 0px 0px 15px #CCC;
    width: 220vh;
    margin: 0 !important;
} 

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    background-color: #d0d0d0;
	border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: #9e9e9e; 
}


@media(max-width: 768px){
    .row{
        width: 180vh;
    } 
}

@media(max-width: 576px){
    .my-container{
        width: 180vh;
    }
}