*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: SourceSansPro;
    src: url("../font/SourceSansPro.otf");
}

@font-face {
    font-family: XoloniumRegular;
    src: url("../font/XoloniumRegular.ttf");
}

html, body{
    height: 100%;
    font-family: SourceSansPro !important;
}
.grid-container{
    display: grid;
    grid-template-areas:
      'header header header header header header'
      'main main main main main main'
      'footer footer footer footer footer footer';
    grid-template-columns: 15% auto auto auto auto auto;
    background-color: #fff;
    grid-template-rows: 6vh 89vh 5vh;
    height: 100%;
    overflow: hidden;
}
.header{
    grid-area: header;
    background-color: #26265D;
    overflow: hidden;
}
.menu{
    background-color:  rgb(20, 20, 20);
    grid-area: menu;
    height: 100vh;
    transition: all .4s linear;
    width: 15%;
}
.menu-close{
    width: 0 !important;
}
.menu nav{
    display: block !important;
}
.main{
    grid-area: main;
    height: 100%;
    overflow: auto;
    padding: 0 2em;
}
.footer{
    grid-area: footer;
    background-color:  #26265D;
    color: #fff;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile-menu-btn-2{
    text-align: center;
    color: #FFF;
    font-size: 2em;
    outline: none;
    background: none;
    border: none;
    cursor: pointer;
    display: none;
    padding-right: .5em;
}
.mobile-menu-btn-2:hover,.mobile-menu-btn-2:focus{
    color: #26265D;
    outline: none;
}


.dropdown-link{
    white-space: normal !important;
}

.dropdown-link:hover{
    background-color: rgb(212, 212, 212);
}

.notify-counter{
    font-size: .6em;
    padding: 0 .5em;
    color: #ff4646;
    top: -0.2em !important;
    position: relative;
}

.notify-area{
    max-width: 25%;
    position: relative;
}

/*-------------------- botão de ajuda -----------------------*/
.tooltiptext {
    position: absolute;
    width: 120px;
    margin-left: .8em;
    margin-top: -1.4em;
    padding: .3em .3em !important;
    background: rgb(156, 156, 156);
    font-family: SourceSansPro;
    text-align: center;
    color: #FFF;
    border-radius: 5px;
    z-index: 99;
    visibility: hidden;
    opacity: 0;
    transition: opacity 500ms ease;
    font-weight: normal;
}

.tooltiptext::after{
    content: "";
    width: 0; 
	height: 0;
	position: absolute;
    left: -.5em;
    top: 1.4em;
	border-top: .5em solid transparent;
	border-bottom: .5em solid transparent;
	border-right: .5em solid rgb(156, 156, 156);
}

.my-tooltip:hover .tooltiptext{
    visibility: visible;
    opacity: 1;
}

/* --------------------------------- login -------------------------------- */
.login-content{
    display: flex;    
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(37, 37, 37);
}

.login{
    width: 25%;
    display: flex;    
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 0;
    background-color: rgb(255, 255, 255);
}

.login-icon{
    display: flex;    
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -3em;
}

.login-icon div{
    display: flex;    
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 6em;
    height: 6em;
    padding: .5em;
    background-color: rgb(0, 129, 168);
}

.login-icon div i{
    font-size: 4em;
}

.login-logo{
    width: 100%;  
    text-align: center;
}

.title-logo{
    padding: .2em .2em;
    background-color: rgb(0, 129, 168);
    font-size: 1.8em;
    font-family: XoloniumRegular;
    color: #FFF;
}

/* ------- animação ajaxa ------*/
.loading{
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    height: 100%;
    width: 100%;
    background-color: #FFF;
    opacity: 1;
    transition: all .3s ease-in;
}

.load{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    z-index: 9999;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    display: none;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 100px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    margin: 6px;
    border: 6px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: rgb(72, 165, 194) transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*------------------------------- editor ------------------------------------*/
.tox-tinymce, .tox-editor-container{
    overflow: unset !important; 
}
.tox-editor-header{
    position: sticky !important;
    top: 0 !important;
}

/*--------------------------- responsivo ---------------------------------- */
@media(max-width: 768px){
    .main{
        padding: 0 .5em;
    }

    .login{
        width: 90%;
    }
    
    .menu{
        position: absolute;
        z-index: 9999;
        width: 0 !important;
    }  
    
    .menu nav{
        display: none;
    }
    .menu-close{
        width: 80% !important;
    }

    .overlay-close-menu{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: transparent;
        z-index: 1;
        display: none;
    }

    #btn-user{
        margin-right: 0;
        padding: .3em .45em !important;
    }

    .btn-menu{
        padding: .2em 1em !important;
    }

    .mobile-menu-btn-2{
        display: block;
    }

    .btn-menu i:nth-child(1){
        display: block !important;
    }
    .btn-menu i:nth-child(2){
        display: none !important;
    }

    .notify-area{
        max-width: 90%;
        position: relative;
    }
}